<plugin name='atmosphere' version='0.4.1' grailsVersion='1.3.5 &gt; *'>
  <author>Bertrand Goetzmann</author>
  <authorEmail>bgoetzmann@odelia-technologies.com</authorEmail>
  <title>Grails Atmosphere Plugin</title>
  <description>\
Provides integration with the Atmosphere framework, a portable AjaxPush/Comet framework.
</description>
  <documentation>http://grails.org/plugin/atmosphere</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>UrlMappings</resource>
    <resource>com.odelia.grails.plugins.atmosphere.AtmosphereTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>